/*MY TRIP SECTION*/
	.section__myTrip{
	background-color: $white;
	}
	.container-fluid{
    padding-right: 0;
    padding-left: 0;
    height: auto;
	}
	.cont__block--blue{
	width: 100%;
	height: auto;
	background-color: $blue;
	padding-bottom: 10px;
	padding-top: 10px;
	}
	.col__form--blue{
	width: 100%;
	height: 100%;
	background-color: $blue;
	padding-bottom: 10px;
	}
	.cont__h4--myTrip{
	color: $dark;
	font-family: $heading;
	font-size: 2.8em; 
	text-align: center;
	margin: 0;
	padding-top: 20px;
	}
	/*drop down*/
	#guests{
	width: 40px;
	height: 25px;
	border-color: $dark;
	}
	.form__select{
	width: 50px;
	height: 10px;
	}
  	.dropdown-menu[x-placement^=bottom], .dropdown-menu[x-placement^=left], .dropdown-menu[x-placement^=right], .dropdown-menu[x-placement^=top] {
    right: auto;
    bottom: auto;
    height: 150px;
    margin: auto;
	}
	.dropdown, .dropleft, .dropright, .dropup {
    text-align: center;
    padding: 10px;
	}
	.label__guests {
	color: $dark;
 	border-color: $dark;
 	font-family: $mainf;
 	font-size: 1.2em;	
 	border-radius: .25rem;
 	padding-top: 20px;
 	padding-bottom: 20px;
	}
	#submit1 {
	color: $dark;
    background-color: $white;
    border-color: $dark;
    font-family: $mainf;
    font-size: 1.2em;	
    border-radius: .25rem;
	}
	.btn-primary {
    color: $dark;
    background-color: $white;
    border-color: $dark;
    font-family: $mainf;
    font-size: 1.2em;
	}
	.btn-primary:hover {
    color: $white;
    background-color: $dark;
    border-color: $white;
	}

	.btn-primary.focus, .btn-primary:focus {
	box-shadow: none;
	}

	.body__button--back {
	@include mainButton (204px, 51px, $white, $mainf, 20px, $pink, auto, center);

	}

	.body__dropDown {
	@include dropDown(229px, 51px, $mainf, $dark, 1px);
	}

	/*Fonts*/
	#body__h5--required {
	font-family: $mainf;
	color: $dark;
	font-size: 1.2em;
	text-align: center;
	padding-top: 20px;
	}
	.cont__h5{
	width: 50%;
	margin: auto;
	}
	#p--selected{
	font-family: $mainf;
	color: $dark;
	font-size: 1.2em;
	margin: auto;
	text-align: center;
	padding-top: 20px;
	}
	.form__date{
	margin: 0;	
    text-align: center;
    border-radius: .25rem;
	}
	#p__myTrip--nights{
	font-family: $mainf;
	color: $pink;
	font-size: 2em;
	text-align: center;
	}
	#p--ready{
	font-family: $mainf;
	color: $dark;
	font-size: 1.2em;
	margin: auto;
	text-align: center;
	width: 80%;
	height: 100%; 
	}

	.header__button--mytrip{
	@include mainButton(204px, 51px, $pink, $mainf, 
			1.2em, $white, auto, center);
    margin-bottom: 20px;
	}

@media only screen and (min-width: 600px) {
	/*MY TRIP SECTION*/
	.col__form--blue{
	width: 100%;
	height: 100%;
	background-color: $blue;
	padding-bottom: 10px;
	}
}

@media only screen and (min-width: 992px) {
	.col__form--blue{
	width: 100%;
	height: 100%;
	background-color: $blue;
	padding-bottom: 10px;
	}
}