/*Colours*/
$white: #FFFFFF;
$dark: #062f3c;
$pink: #FF5B6B;
$blue: #56a0d3;


//accommodation slide Colours
$turq: #00b0ca;
/*Fonts*/
$heading: 'Josefin Sans', sans-serif;
	
$mainf: 'Asap', sans-serif;

/*Stroke-width*/
// $stroke:
// 	stroke-width: 1px $dark;

